*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container1{

    align-content: space-between;
    display: flex;
    justify-content: space-evenly;
   
}

.box1{
   line-height: 15px;
    height: auto; 
    margin: 30px;
    font-size: 15px;
    text-decoration: #0d8083 underline; 
    cursor: pointer; 
   
   
}

.box2{
    
    height: auto; 
    margin: 10px;  
    font-size: 15px;
   
}

.box3{
line-height: 15px;
    height: auto; 
    margin: 30px;
    font-size: 15px;
    text-decoration: #0d8083 underline;
    cursor: pointer; 
 
}

.one:hover{
    color:blue; 
}

.span1{
    color: rgb(219, 141, 141);
}

.container2 a{
    color: black;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    flex-wrap: wrap;
}

.container2 a:hover{

    color: #d7752b;
}

.container2 a i{

    color: rgb(151, 150, 150);
}

.box4 h2 {

    padding: 5px 10px 5px 11px;
    display: block;
    float: left;
    line-height: 1;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 16px;
    border-radius: 0.375rem;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-family: Fjalla One,Arial Narrow,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.main3{
  
    padding:  30px; 
}

.for{
    border-top: 4px solid rgb(0, 0, 0) ;
}
.main3 hr{

    width: 294px;
}

.span2{
    color: #02bb9b;
}

/* .container3 img{
  
display:inline-block;  

} */

.main3 h5{
    display: inline-block;
    color: rgb(117, 117, 117);
}

.main3 h4:hover{
    text-decoration: underline #02bb9b;
    
}

.main3 h6:hover{
    color: rgb(99, 99, 99);
}

.box6{
    margin-left: 390px;
    
}
 .colom{
   
}
 .khan1{
    border-radius: 10px;
    position: relative;
    font-size: 25px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.khan h1{
    font-size: 1.77rem;
    font-family: NafeesNaksh,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.khan h1:hover {
    text-decoration: underline #02bb9b;
}
.khan a{
    font-size: 1.5rem;
    letter-spacing: 1;
    padding: 5px 10px 5px 11px;
    display: block;
    float: left;
    line-height: 1;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 16px;
    border-radius: 0.375rem;
    cursor: pointer;
    color: white;
    font-family: Fjalla One,Arial Narrow,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
} 
.recommend1{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
}
.recommend2{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
}

.container6{
    box-sizing: border-box;
    border: 1px solid rgb(207, 193, 0);
    
    border-radius: 3px;
}
.container6 li {
   
    font-size: 15px;
    color: rgb(103, 103, 103);
    font-family: 'Roboto', sans-serif;
    position: relative;
   
}

.container6 h2 {
    letter-spacing: 12px;
    font-size: 28px;
    font-weight: 600;
    background-color: #e2eee2;
    border: 1px solid #e2eee2;
    border-radius: 5px;
    font-family: Fjalla One,Arial Narrow,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
